---
import me from "../assets/me2.png";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mt-20 px-4 mx-auto max-w-5xl lg:mt-40" id="about-me">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      {t("aboutMe.title")}
    </h1>
  </div>
  <div class="flex flex-col gap-4 mt-10">
    <div class="flex flex-col md:flex-row gap-4 lg:items-center">
      <div
        class="flex flex-col items-center justify-end px-2 text-center pt-2 rounded-2xl bg-gradient-to-r from-[#0e7490] via-[#3b82f6] to-[#4f46e5]"
      >
        <img
          class="rounded-lg max-h-44 w-fit max-w-20 xl:max-w-16"
          src={me.src}
          alt="Deyvi Tabora"
          loading="lazy"
        />
      </div>
      <p class="text-sm md:text-base">
        {t("aboutMe.firstParagraph")}
      </p>
    </div>
    <p class="text-sm md:text-base">
      {t("aboutMe.secondParagraph")}
    </p>
    <p class="text-sm md:text-base">
      {t("aboutMe.thirdParagraph")}
    </p>
  </div>
</section>
