---
import me from "../assets/me2.png";
---

<section class="mx-auto max-w-5xl my-40" id="about-me">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      ABOUT ME
    </h1>
  </div>
  <div class="flex flex-col gap-4 mt-10">
    <div class="flex gap-4">
      <div class="px-2 pt-2 rounded-2xl bg-blue-400">
        <img
        class="inline-block rounded-lg w-40"
        src={me.src}
        alt="Deyvi Tabora"
        loading="lazy"
      />
      </div>
      
      <p>
        Soy estudiante de Ingeniería en Sistemas, tengo 25 años y vivo en
        Honduras. Soy un apasionado del fútbol y fiel aficionado de la Juventus.
        Me considero una persona competitiva y perfeccionista, siempre buscando
        dar lo mejor de mí en todo lo que hago. En mis tiempos libres suelo
        pasar mucho con mis amigos jugando video juegos o comentanto sobre
        series o anime.
      </p>
    </div>
    <p>
      La tecnología es una de mis grandes pasiones, no solo como herramienta
      profesional, sino también como un medio para innovar y aprender
      constantemente. Siempre trabajo en fortalecer mis puntos débiles, y
      actualmente estoy enfocándome en mejorar mi nivel de inglés, el cual se
      encuentra en un nivel intermedio (B1). Este objetivo no solo es una meta
      personal, sino también una forma de expandir mis oportunidades de
      crecimiento profesional.
    </p>
    <p>
      El desarrollo de software representa para mí un proceso constante de
      aprendizaje y superación, tanto a nivel profesional como personal. Mi
      enfoque está en superar cualquier desafío que requiera creatividad y
      dedicación, impulsándome a expandir mis habilidades y marcar la diferencia
      en cada proyecto y reto que enfrente a lo largo de mi carrera profesional.
    </p>
  </div>
</section>
