---
import Calendar from "./icons/Calendar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { content } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const EXPERIENCES = content[lang].experience;
---

<section class="mt-20 px-4 mx-auto max-w-5xl lg:mt-40" id="experience">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      {t("experience.title")}
    </h1>
  </div>
  <div class="mt-10">
    <ol class="relative lg:ml-5 lg:border-s md:border-gray-200">
      {
        EXPERIENCES.listExperiences.map((exp) => (
          <li class="mb-10 lg:ms-10 xl:ms-8">
            <span class="hidden absolute lg:flex items-center justify-center p-1 rounded-full lg:-start-4 ring-4 bg-gradient-to-r from-[#0e7490] from-10% via-[#3b82f6] via-30% to-[#4f46e5] to-90%">
              <Calendar />
            </span>
            <div class="md:grid md:grid-cols-2">
              <div>
                <h3 class="flex items-center text-[#3b82f6] mb-1 text-xl font-semibold">
                  {exp.title}
                </h3>
                <p class="text-lg">{exp.company}</p>
                <time class="block mb-2 text-md font-normal leading-none">
                  {exp.date}
                </time>
                <div class="mt-5">
                  <p class="pb-2 text-md">{t("experience.keySkills")}</p>
                  <div class="flex mb-5 gap-2 lg:mb-0">
                    {exp.skills.map((skill) => (
                      <skill.icon />
                    ))}
                  </div>
                </div>
              </div>
              <div class="text-gray-200">
                <p class="text-pretty font-normal text-sm md:text-base">
                  {exp.description}
                </p>
                <div class="mt-2">
                  <a
                    class="text-[#3b82f6] p-2 flex justify-start w-fit hover:text-white"
                    href="https://www.linkedin.com/in/deyvi-tabora/details/experience/"
                    target="_blank"
                    rel="noopener"
                  >
                    {t("experience.more")}...
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </div>
</section>
