<footer class="mx-auto max-w-7xl w-full relative text-center border-t-2">
  <div class="px-6 py-8 md:py-14 xl:pt-20 xl:pb-12">
    <h2 class="font-bold text-3xl xl:text-4xl leading-snug">
      Are you ready to take the selection process to the next level?
    </h2>
    <a
      class="mt-8 xl:mt-12 px-12 py-5 text-lg font-semibold leading-tight inline-block rounded-full border border-transparent bg-gradient-to-r from-[#0e7490] via-[#3b82f6] to-[#4f46e5]
        transition delay-150 duration-100 ease-in-out hover:-translate-y-1 hover:scale-110 hover:from-[#4f46e5] hover:to-[#0e7490] hover:shadow-md hover:shadow-[#3b82f6]/60"
      href="https://www.linkedin.com/in/deyvi-tabora"
      target="_blank"
      rel="noopener">CONTACT ME</a
    >
    <div class="mt-14 xl:mt-20">
      <nav class="flex flex-wrap justify-center text-lg font-medium">
        <div class="px-5 py-2"><a href="#top">HOME</a></div>
        <div class="px-5 py-2"><a href="#experience">EXPERIENCE</a></div>
        <div class="px-5 py-2"><a href="#projects">PROJECTS</a></div>
        <div class="px-5 py-2"><a href="#skills">SKILLS</a></div>
      </nav>
      <p class="mt-7 text-base">Created by Deyvi Tabora</p>
      <p>
        <span class="font-bold">Astro</span> & <span class="font-bold"
          >Tailwind CSS</span>
      </p>
    </div>
  </div>
</footer>
