---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="mt-20 px-4 xl:mx-auto max-w-5xl lg:mt-40 relative text-center border-t-2 w-full"
>
  <div class="py-8 md:py-14 xl:pt-20 xl:pb-12">
    <nav
      class="flex flex-wrap justify-center gap-4 text-sm lg:text-lg font-medium"
    >
      <a href="#top">{t("nav.home")}</a>
      <a href="#experience">{t("nav.exp")}</a>
      <a href="#projects">{t("nav.project")}</a>
      <a href="#skills">{t("nav.skill")}</a>
      <a href="#about-me">{t("nav.about")}</a>
    </nav>
    <p class="mt-7 text-sm lg:text-base">
      {t("footer.createdBy")}
      <span class="text-[#3b82f6] font-semibold">Deyvi Tabora</span>
    </p>
    <p>
      <span class="font-bold text-sm lg:text-base text-[#3b82f6]">Astro</span>
      & <span class="font-bold text-sm lg:text-base text-[#3b82f6]"
        >Tailwind CSS</span
      >
    </p>
  </div>
</footer>
