---
import linkedin from "../assets/linkedin-white.svg";
import github from "../assets/github-mark-white.svg";
import email from "../assets/email-white.svg";
import me from "../assets/me.webp";
import Badge from "./Badge.astro";
import SocialMediaButton from "./SocialMediaButton.astro";
import download from "../assets/download.svg";

const SOCIALMEDIA = [
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/deyvi-tabora",
    src: linkedin.src,
    alt: "Url for mi LinkedIn profile",
  },
  {
    title: "GitHub",
    href: "https://github.com/taboradeyvi",
    src: github.src,
    alt: "Url for mi GitHub profile",
  },
  {
    title: "Email",
    href: "mailto:taborapaz@gmail.com",
    src: email.src,
    alt: "Url for mi email contact",
  },
  {
    title: "Mi resume",
    href: "https://drive.google.com/file/d/1GrNNRxfFJUQeI1EDWZC7acuqyXqKzrlR/view?usp=sharing",
    src: download.src,
    alt: "Download mi resume",
  },
];
---

<section class="mx-auto max-w-5xl mt-40">
  <article class="grid grid-cols-3 gap-x-10 justify-around m-10">
    <div class="col-span-2 flex flex-col justify-center gap-6">
      <h1 class="text-balance text-3xl font-bold tracking-tight sm:text-5xl">
        I'm Deyvi Tabora <Badge>Available to work</Badge>
      </h1>
      <p class="text-pretty">
        I'm a <span class="font-semibold text-xl text-[#3b82f6]"
          >full-stack developer</span
        > with extensive experience in software development and deployment. My motivation
        is driven by continuous innovation and a strong commitment to achieving technical
        excellence, which is reflected in my collaborative work with development
        teams.
      </p>
      <div class="flex gap-6">
        {
          SOCIALMEDIA.map((social) => (
            <SocialMediaButton {...social}>{social.title}</SocialMediaButton>
          ))
        }
      </div>
    </div>
    <div>
      <img
        class="inline-block size-80 rounded-xl"
        src={me.src}
        alt="Deyvi Tabora"
        loading="lazy"
      />
    </div>
  </article>
  <article class="flex justify-around mt-20">
    <p class="text-3xl">
      <span class="text-4xl font-bold text-[#3b82f6]">+5</span> years of experience
    </p>
    <p class="text-3xl">
      <span class="text-4xl font-bold text-[#3b82f6]">+23</span> complete projects
    </p>
    <p class="text-3xl">
      <span class="text-4xl font-bold text-[#3b82f6]">+21</span> software skills
    </p>
  </article>
</section>
