---
import Email from "./icons/Email.astro";
import GitHub from "./icons/GitHub.astro";
import Github from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<header class="fixed top-0 z-10 w-full">
  <nav class="px-4">
    <div class="mx-auto max-w-5xl">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <button
            id="nav-menu"
            type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 hover:bg-[#3b82f6] hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open menu</span>
            <svg
              class="block size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
            <svg
              class="hidden size-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="flex flex-1 justify-between">
          <a
            class="flex shrink-0 items-center px-2 rounded hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
            href="https://github.com/taboradeyvi"
            target="_blank"
            rel="noopener"
          >
            <Github />
            <p class="ml-2">taboradeyvi</p>
          </a>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 justify-end">
              <a
                href="#top"
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
                >HOME</a
              >
              <a
                href="#experience"
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
                >EXPERIENCE</a
              >
              <a
                href="#projects"
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
                >PROJECTS</a
              >
              <a
                href="#skills"
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
                >SKILLS</a
              >
              <a
                href="#about-me"
                class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gradient-to-r hover:from-[#0e7490] hover:via-[#3b82f6] hover:to-[#4f46e5]"
                >ABOUT ME</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden pb-10" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 text-center">
        <a
          href="#top"
          class="block rounded-md px-3 text-white font-bold py-2 text-xl drop-shadow-md"
          >HOME</a
        >
        <a
          href="#experience"
          class="block rounded-md px-3 text-white font-bold py-2 text-xl"
          >EXPERIENCE</a
        >
        <a
          href="#projects"
          class="block rounded-md px-3 text-white font-bold py-2 text-xl"
          >PROJECTS</a
        >
        <a
          href="#skills"
          class="block rounded-md px-3 text-white font-bold py-2 text-xl"
          >SKILLS</a
        >
        <a
          href="#about-me"
          class="block rounded-md px-3 text-white font-bold py-2 text-xl"
          >ABOUT ME</a
        >
      </div>
      <div class="flex gap-4 justify-center mt-10">
        <GitHub />
        <LinkedIn />
        <Email />
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navMenuButton = document.getElementById("nav-menu");
    const mobileMenu = document.getElementById("mobile-menu");
    const header = document.querySelector("header"); // Selecciona el header

    if (navMenuButton && mobileMenu && header) {
      const menuLinks = mobileMenu.querySelectorAll("a");
      navMenuButton.addEventListener("click", function () {
        if (mobileMenu.classList.contains("hidden")) {
          mobileMenu.classList.remove("hidden");
          mobileMenu.classList.add("block");
        } else {
          mobileMenu.classList.remove("block");
          mobileMenu.classList.add("hidden");
        }
      });

      menuLinks.forEach((link) => {
        link.addEventListener("click", function () {
          mobileMenu.classList.remove("block");
          mobileMenu.classList.add("hidden");
        });
      });

      header.classList.add("active-nav"); // Agrega la clase para activar los estilos
    }
  });
</script>

<style>
  header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  header {
    @apply bg-gray-800/90;
  }

  header.active-nav {
    @apply bg-gray-800/80 backdrop-blur;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0;
    }
    to {
      @apply shadow-lg backdrop-blur;
    }
  }
</style>
