---
import Angular from "./icons/Angular.astro";
import Csharp from "./icons/Csharp.astro";
import GitHub from "./icons/GitHub.astro";
---

<section class="mx-auto max-w-5xl my-40" id="projects">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      RECENT PROJECTS
    </h1>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-10">
    <div class="w-[400px] h-[250px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="flex mt-5">
        <p class="mr-4">Tech stack</p>
        <div class="flex gap-4">
          <div class="flex gap-2">
            <Angular />
            Angular
          </div>
          <div class="flex gap-2">
            <Csharp />
            ASP .NET
          </div>
        </div>
      </div>
      <a class="p-2 mt-5 flex gap-2 bg-blue-400 w-fit rounded" href="">
        <GitHub />
        Ver codigo
      </a>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-10">
    <div class="w-[400px] h-[250px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="flex mt-5">
        <p class="mr-4">Tech stack</p>
        <div class="flex gap-4">
          <div class="flex gap-2">
            <Angular />
            Angular
          </div>
          <div class="flex gap-2">
            <Csharp />
            ASP .NET
          </div>
        </div>
      </div>
      <a class="p-2 mt-5 flex gap-2 bg-blue-400 w-fit rounded" href="">
        <GitHub />
        Ver codigo
      </a>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-10">
    <div class="w-[400px] h-[250px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="flex mt-5">
        <p class="mr-4">Tech stack</p>
        <div class="flex gap-4">
          <div class="flex gap-2">
            <Angular />
            Angular
          </div>
          <div class="flex gap-2">
            <Csharp />
            ASP .NET
          </div>
        </div>
      </div>
      <a class="p-2 mt-5 flex gap-2 bg-blue-400 w-fit rounded" href="">
        <GitHub />
        Ver codigo
      </a>
    </div>
  </div>
</section>
