---
import Angular from "./icons/Angular.astro";
import Csharp from "./icons/Csharp.astro";
import GitHub from "./icons/GitHub.astro";
import Postgresql from "./icons/Postgresql.astro";
import Nodejs from "./icons/Nodejs.astro";
import Python from "./icons/Python.astro";
import Mongo from "./icons/Mongo.astro";
import React from "./icons/React.astro";
import Sql from "./icons/Sql.astro";
import Nextjs from "./icons/Nextjs.astro";
import Eye from "./icons/Eye.astro";
import Tailwind from "./icons/Tailwind.astro";
---

<section class="mx-auto max-w-5xl my-40" id="projects">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      RECENT PROJECTS
    </h1>
  </div>
  <div class="grid grid-cols-2 my-10">
    <div class="w-[400px] h-[280px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="mt-5">
        <div class="flex gap-4">
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Angular />
            <p class="text-sm">Angular</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Csharp />
            <p class="text-sm">ASP .NET</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Sql />
            <p class="text-sm">MSSQL</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Tailwind />
            <p class="text-sm">Tailwind</p>
          </div>
        </div>
      </div>
      <div class="flex gap-4 mt-10">
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <GitHub />
          Ver codigo
        </a>
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <Eye />
          Live preview
        </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 my-10">
    <div class="w-[400px] h-[280px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="mt-5">
        <div class="flex gap-4">
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <React />
            <p class="text-sm">React</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Nodejs />
            <p class="text-sm">Node js</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Sql />
            <p class="text-sm">PostgreSql</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Tailwind />
            <p class="text-sm">Tailwind</p>
          </div>
        </div>
      </div>
      <div class="flex gap-4 mt-10">
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <GitHub />
          Ver codigo
        </a>
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <Eye />
          Live preview
        </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 my-10">
    <div class="w-[400px] h-[280px] rounded bg-blue-600"></div>
    <div>
      <h1 class="text-xl font-semibold mb-5">Proyecto de una api</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
        magnam eveniet reprehenderit maxime, odit fugit quasi, distinctio
        aliquid cum molestias ea repellendus accusantium dolore impedit enim
        soluta animi rerum expedita.
      </p>
      <div class="mt-5">
        <div class="flex gap-4">
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Nextjs />
            <p class="text-sm">Nextjs</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Python />
            <p class="text-sm">Python</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Mongo />
            <p class="text-sm">Mongo DB</p>
          </div>
          <div class="flex gap-2 bg-blue-400 rounded-md px-2 py-1 items-center">
            <Tailwind />
            <p class="text-sm">Tailwind</p>
          </div>
        </div>
      </div>
      <div class="flex gap-4 mt-10">
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <GitHub />
          Ver codigo
        </a>
        <a class="p-2 flex gap-2 border border-blue-600 w-fit rounded" href="">
          <Eye />
          Live preview
        </a>
      </div>
    </div>
  </div>
</section>
