---
import React from "./icons/React.astro";
import Sql from "./icons/Sql.astro";
import Angular from "./icons/Angular.astro";
import Csharp from "./icons/Csharp.astro";
import Nextjs from "./icons/Nextjs.astro";
import Azure from "./icons/Azure.astro";
import Mongo from "./icons/Mongo.astro";
import Tailwind from "./icons/Tailwind.astro";
import Python from "./icons/Python.astro";
import Flutter from "./icons/Flutter.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import Nodejs from "./icons/Nodejs.astro";
import Css from "./icons/Css.astro";
import VSCode from "./icons/VisualStudioCode.astro";
import VS from "./icons/VisualStudio.astro";
import Vercel from "./icons/Vercel.astro";
import Trello from "./icons/Trello.astro";
import Postgresql from "./icons/Postgresql.astro";
import Slack from "./icons/Slack.astro";

const SKILLS = [
  {
    title: "Backend",
    description:
      "Throughout my career as a software developer, I have excelled primarily in backend development, which is my strength, and in which I perform most effectively, working with various technologies, patterns, and software architectures.",
    items: [
      {
        icon: Csharp,
      },
      {
        icon: Nodejs,
      },
      {
        icon: Python,
      },
      {
        icon: TypeScript,
      },
      {
        icon: JavaScript,
      },
      {
        icon: Sql,
      },
      {
        icon: Mongo,
      },
      {
        icon: Postgresql,
      },
    ],
  },
  {
    title: "Frontend",
    description:
      "I have the ability to work with various frameworks and libraries for frontend development, where my strongest skills are focused on Angular and React, which I usually work with for styling using Tailwind Css.",
    items: [
      {
        icon: Angular,
      },
      {
        icon: React,
      },
      {
        icon: Nextjs,
      },
      {
        icon: Flutter,
      },
      {
        icon: JavaScript,
      },
      {
        icon: Tailwind,
      },
      {
        icon: Bootstrap,
      },
      {
        icon: Css,
      },
    ],
  },
  {
    title: "Tools & cloud",
    description:
      "I love the tools created by Microsoft, which is why using them stands out in my daily routine. Additionally, the private cloud services they provide are one of my skills that I want to develop even further.",
    items: [
      {
        icon: VS,
      },
      {
        icon: VSCode,
      },
      {
        icon: Vercel,
      },
      {
        icon: Trello,
      },
      {
        icon: Slack,
      },
      {
        icon: Azure,
      },
    ],
  },
];
---

<section class="mx-auto max-w-5xl my-40" id="skills">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      SKILLS
    </h1>
  </div>
  <div class="grid grid-cols-3 mt-10">
    {
      SKILLS.map((skill) => (
        <div class="max-w-xs rounded overflow-hidden bg-gradient-to-r from-[#3b82f6]/80 to-[#4f46e5]/80 flex flex-col justify-between">
          <div class="px-4 py-4">
            <div class="font-bold text-xl mb-2">{skill.title}</div>
            <p class="text-pretty">{skill.description}</p>
          </div>
          <div class="grid grid-cols-4 px-6 py-4 gap-2">
            {skill.items.map((item) => (
              <item.icon />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
