---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { content } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const SKILLS = content[lang].skills;
---

<section class="mt-20 px-4 mx-auto max-w-5xl lg:mt-40" id="skills">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      {t("skills.title")}
    </h1>
  </div>

  <div class="flex flex-wrap gap-4 mt-10">
    {
      SKILLS.skillsList.map((skill) => (
        <div
          class="flex items-center gap-x-2 px-2 py-1 rounded-lg
           bg-gradient-to-r from-[#3b82f6]/90 to-[#4f46e5]/90
           shadow-lg transition-transform transform 
           hover:scale-105 hover:shadow-xl"
        >
          <skill.icon />
          <p class="text-sm font-medium">{skill.name}</p>
        </div>
      ))
    }
  </div>
</section>
